@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/studentIcon.jpg" alt="Card image cap" style="height: 30vh">
                <div class="card-body">
                    <h5 class="card-title">Add New Student</h5>
                    @*<p class="card-text">To ad anew student click on the button Below.</p>*@
                    <a href="#" class="btn btn-success btn-sm">Add Student</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/CourseIcon.jpg" alt="Card image cap" style="height: 30vh">
                <div class="card-body">
                    <h5 class="card-title">Add New Course</h5>
                    @*<p class="card-text">Click on the button below to add a new Course.</p>*@
                    <a href="#" class="btn btn-success btn-sm">Add Course</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/performanceIcon2.png" alt="Card image cap" style="height: 30vh">
                <div class="card-body">
                    <h5 class="card-title">Student's Perfomance</h5>
                    @*<p class="card-text">Check Students Perfomance by clicking on the button below.</p>*@
                    <a href="#" class="btn btn-success btn-sm">Performance</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/performanceIcon2.png" alt="Card image cap" style="height: 30vh">
                <div class="card-body">
                    <h5 class="card-title">Student's Perfomance</h5>
                    @*<p class="card-text">Check Students Perfomance by clicking on the button below.</p>*@
                    <a href="#" class="btn btn-success btn-sm">Performance</a>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" col-md-4 style="width: 16rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-success btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>


</div>
    
 

